.blogs{
    position: absolute;
    top: 4.42rem;
    /*background-color: #b0c49d;*/
    width: 1000px;
    min-height: 100vh;
    left: 252px;
    padding-left: 25px;
    box-sizing: border-box;
}

.SearchAndSortPanel{
    width: 940px;
    display: flex;
    justify-content: space-between ;
    margin-bottom: 30px;
}