.header {
    width: 100%;
    min-height: 60px;
    /*background-color: #817b7b;*/
    position: absolute;
    background: #FCFBFB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 0;
}

.header h1 {
    font-family: Inter, math ;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #1A1718;
}


.logoLinkStyle {
    text-decoration: none;
}

.text {
    display: inline-block;
    margin-left: 65px
}
