.showMorePageButton{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 176px;
    font-family: 'Inter', math;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background-color: #fff;
    color: #1A1718;
}

.showMoreTextButton{
    width: 110px;
    height: 24px;
    left: 749px;
    top: 696px;
    margin: 0 auto;
    font-family: Inter, math;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #797476;
}