.SuperSearch input {
    height: 30px;
    width: 700px;
    padding-left: 2.5rem;
    box-sizing: border-box;
}

.searchInput{
    /*margin: 10px 10px 10px 10px;*/
    background-image:  url(magnifier.svg);
    background-position: 0.5rem 0.25rem;
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
    font-family: 'Inter', math;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B3B0B1;
}